{% extends "layouts/base.html" %}
{% block content %}

<!-- dossier_detail_modal.html -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title">Détails du Dossier: {{ dossier.projet }}</h5>
        </div>
        <div class="modal-body bg-light">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <p><strong>Projet :</strong> {{ dossier.projet }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>TRD :</strong> {{ dossier.TRD }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Booking :</strong> {{ dossier.booking }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Type de Conteneur :</strong> {{ dossier.get_type_conteneur_display }}</p>
                </div>
                   <div class="col-md-6 mb-3">
                    <p><strong>commodite :</strong> {{ dossier.commodite }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Nombre de Conteneurs:</strong> {{ dossier.conteneurs.count }}</p>
                </div>
                
                <div class="col-md-6 mb-3">
                    <p><strong>Site de selection :</strong> {{ dossier.site}}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Site d'empotage :</strong> {{ dossier.Site_empotage}}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Compagnie Maritime :</strong> {{ dossier.compagnie_maritime }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Port de Chargement :</strong> {{ dossier.port_de_chargement }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Port de Déchargement :</strong> {{ dossier.port_de_dechargement }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Client :</strong> {{ dossier.client }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Agent de selection :</strong> {{ dossier.agent_selection }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Agent d'habillage & empotage :</strong> {{ dossier.agent_acconage }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Date de Sélection :</strong> {{ dossier.Date_selection }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Date de pose et d'habillage :</strong> {{ dossier.Date_acconage }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Date de Terminaison :</strong> {{ dossier.Date_terminer }}</p>
                </div>
            </div>
        </div>
       <div class="modal-footer bg-primary text-white d-flex justify-content-between">
        <a href="{% url 'view_conteneurs' dossier.id %}" class="btn btn-light">Voir les conteneurs</a>
    
        {% if request.user.Personnel_type == 'agent_selection' %}
            <a href="{% url 'dossier_list_selction' %}" class="btn btn-light">Retour</a>
        {% elif request.user.Personnel_type == 'agent_acconage' %}
            <a href="{% url 'dossier_list_Accoange' %}" class="btn btn-light">Retour </a>
        {% else %}
            <a href="{% url 'Dossier_list' %}" class="btn btn-light">Retour</a>
        {% endif %}
        </div>

    </div>
</div>

{% endblock %}
