{% extends 'registration/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}

<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="post">
        {% csrf_token %}

        <div class="mx-auto text-center my-4">
         <a class="navbar-brand mx-auto mt-2 flex-fill text-center">
                <div class="w-100 mb-4">
                    <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center flex-column">
                        <img src="{% static 'img/oil_of_africa.png' %}" alt="logo" class="img-fluid rounded-circle" style="max-width: 200px; height: auto;">
                        <h2 class="h4 mb-1 mt-2">Suivi empotage</h2>
                    </div>
                </div> 
            </a>
          <h2 class="my-3">Entre ton nouveau mot de passe</h2>
        </div>
        <p class="text-muted"></p>
        <div class="form-group">
            <label for="id_new_password1">Nouveau mot de passe</label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control" placeholder="Nouveau mot de passe 🔑">
            {% if form.new_password1.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.new_password1.errors %}
                        <span style="font-size: 13px;">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="id_password2">Confirmez le mot de passe</label>
            <input type="password" name="new_password2" id="id_password2" class="form-control" placeholder="Confirmez le mot de passe">
            {% if form.new_password2.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.new_password2.errors %}
                        <span style="font-size: 13px;">{{ error|escape }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser le mot de passe</button>
        <p class="mt-5 mb-3 text-muted">© 2020</p>
      </form>
    </div>
  </div>

{% endblock %}
