{% extends 'registration/base.html' %}
{% load static %}
{% load static i18n %}
{% block content %}
<div class="wrapper vh-100">
   
      <form class="col-lg-3 col-md-4 col-10 mx-auto text-center"  id="resetPasswordForm" method="post">
        {% csrf_token %}
       
        <div class="mx-auto text-center my-4">
          <a class="navbar-brand mx-auto mt-2 flex-fill text-center">
                <div class="w-100 mb-4">
                    <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center flex-column">
                        <img src="{% static 'img/oil_of_africa.png' %}" alt="logo" class="img-fluid rounded-circle" style="max-width: 200px; height: auto;">
                        <h2 class="h4 mb-1 mt-2">Suivi empotage</h2>
                    </div>
                </div> 
            </a>
          <h2 class="my-3">Réinitialiser le mot de passe</h2>
        </div>
        <p class="text-muted">Entrez votre adresse e-mail et nous vous enverrons un e-mail avec des instructions pour réinitialiser votre mot de pass</p>
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for error in form.errors.values %}
                <span style="font-size: 13px; display: inline-block; width: auto;">{{ error|escape }}</span>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="form-group">
          <div class="row align-items-center h-100">
           
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email address" required="" autofocus="">
        </div>
        <br><button class="btn btn-lg btn-primary btn-block" type="submit">réinitialiser le mot de passe</button>
        <th>
          <br><a href="{% url 'login' %}">
            <i class="fas fa-arrow-left"></i>
            retour à la page de connexion
        </a>
        <p class="mt-5 mb-3 text-muted">© 2020</p>
      </form>
    </div>
  </div>

  {% endblock %}
