{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- dossier_detail.html -->
<h1>Dossier: {{ object.TRD }}</h1>
<p>Projet: {{ object.projet }}</p>
<p>Statut: {{ object.statut }}</p>

<!-- Liste des conteneurs déjà ajoutés -->
<h2>Conteneurs</h2>
<ul>
    {% for conteneur in object.conteneurs_selection.all %}
    <li>{{ conteneur.reference }} - {{ conteneur.etat }}</li>
    {% empty %}
    <li>Aucun conteneur ajouté pour le moment.</li>
    {% endfor %}
</ul>

<!-- Bouton pour ajouter des conteneurs -->
<a href="{% url 'ajouter_conteneur' object.pk %}" class="btn btn-primary">Ajouter Conteneur</a>

<!-- Bouton pour valider le dossier -->
<form action="{% url 'valider_dossier' object.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Valider Dossier</button>
</form>

{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {

            let datatable_language = {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            };

            $(".form").append("<br><input type='submit' class='btn btn-sm btn-success' value='Enregistrer' />");
            $('.table').DataTable({
                language: datatable_language,
            });
        });
    </script>
{% endblock scripts %}

