{% load static %}
{% load static i18n %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logo.jpg' %}">
    <title>OILS OF AFRICA - SUIVI EMPOTAGE</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="{% static 'css/simplebar.css' %}">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/feather.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/app-light.css' %}" id="lightTheme">
    <link rel="stylesheet" href="{% static 'css/app-dark.css' %}" id="darkTheme" disabled>
    <!-- Inclure les fichiers Morris.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <style>
      /* Styles de base pour la page */
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        min-height: 2000px; /* Simule une page longue */
      }
  
      /* Style de la flèche retour en haut */
      .back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        text-align: center;
        display: none; /* Masqué par défaut */
        cursor: pointer;
        font-size: 20px;
        z-index: 1000;
      }
  
      .back-to-top:hover {
        background-color: #0056b3;
      }
      .country-flag {
        width: 20px;  /* Ajustez cette valeur selon vos besoins */
        height: auto; /* Laisser automatique pour maintenir le ratio d'aspect */
        margin-right: 8px; /* Espacement entre l'icône et le texte */
      }
      
    </style>
  </head>
  <body class="vertical  light  ">
    <div class="wrapper">
      <nav class="topnav navbar navbar-light">
        <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
          <i class="fe fe-menu navbar-toggler-icon"></i>
        </button>
        <form class="form-inline mr-auto searchform text-muted">
          <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
        </form>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
              <i class="fe fe-sun fe-16"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
              <span class="fe fe-grid fe-16"></span>
            </a>
          </li>
          <li class="nav-item nav-notif">
            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
              <span class="fe fe-bell fe-16"></span>
              <span class="dot dot-md bg-success"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="avatar avatar-sm mt-2">
                {% if user.photos %}
                  <img src="{{ user.photos.url }}" alt="..." class="avatar-img rounded-circle" style="width: 40px; height: 40px;">
                  <span class="nav-profile-name">{{request.user.username}}</span>

                {% else %}
                  <img src="{% static 'default-avatar.jpg' %}" alt="..." class="avatar-img rounded-circle">
                {% endif %}
              </span>
            </a>
            
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a>
            </div>
          </li>
        </ul>
      </nav>
      <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
        <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo" href="{% url 'index'%}"> <img src="{% static 'img/oil_of_africa.png' %}" alt="logo" class="img-fluid rounded-circle center" style="max-width: 100px; height: auto;">
                <h3 class="h4 mb-1"> SUIVI EMPOTAGE</h3>

              </a>
              <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" type="button" data-toggle="minimize">
                <span class="typcn typcn-th-menu"></span>
              </button>
            </div>
          </div>
          <ul class="navbar-nav flex-fill w-100 mb-2">
              <span class="avatar avatar-sm mt-2">
                {% if user.photos %}
                  <img src="{{ user.photos.url }}" alt="..." class="avatar-img rounded-circle " style="width: 40px; height: 40px;">
                  <span class="nav-profile-name">{{request.user.username}}
                  <br>({{request.user.first_name}}  {{request.user.last_name}}) </span>

                {% else %}
                  <img src="{% static 'default-avatar.jpg' %}" alt="..." class="avatar-img rounded-circle">
                {% endif %}
              </span>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Tableau de bord</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <li class="nav-item w-100">
                <a class="nav-link"  href="{% url 'index'%}">
                  <i class="fe fe-pie-chart fe-16"></i>
                  <span class="ml-3 item-text">Tableau de bord</span>
                </a>
              </li>
            </li>
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Gestion</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-folder fe-16"></i>
                <span class="ml-3 item-text">Dossier</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                <li class="nav-item">
                  {% if request.user.Personnel_type == "secretaire" or request.user.Personnel_type == "chef" or request.user.username == "Responsable" %}
                    <a class="nav-link pl-3" href="{% url 'Dossier_list' %}">
                      <img src="{% static 'img/coast.png' %}" alt="Côte d'Ivoire" class="country-flag"> 
                      <span class="ml-1 item-text">Côte d'Ivoire</span>
                    </a>
                    <a class="nav-link pl-3" href="{% url 'Dossier_list_gabon' %}">
                      <img src="{% static 'img/gabon.png' %}" alt="Gabon" class="country-flag"> 
                      <span class="ml-1 item-text">Gabon</span>
                    </a> 
                    <a class="nav-link pl-3" href="{% url 'Dossier_list_gabon' %}">
                      <img src="{% static 'img/nigeria.png' %}" alt="Gabon" class="country-flag"> 
                      <span class="ml-1 item-text">Nigeria</span>
                    </a>
                  {% endif %}
                </li>
                
                <li class="nav-item">
                    {% if request.user.Personnel_type == "agent_selection" or request.user.Personnel_type == "chef" or request.user.username == "Responsable" %}
                    <a class="nav-link pl-3" href="{% url 'dossier_list_selction' %}"><span class="ml-1 item-text">Selection</span></a>
                    {% endif %}
                </li>

                <li class="nav-item">
                  {% if request.user.Personnel_type == "agent_acconage" or request.user.Personnel_type == "chef" %}
                  <a class="nav-link pl-3" href="{% url 'dossier_list_Accoange'%}"><span class="ml-1 item-text">habillage & empotage</span></a>
                  {% endif %}
                </li>
              </ul>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'Client_list' %}">
                <i class="fe fe-user fe-16"></i>
                <span class="ml-3 item-text">client</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'Site_list' %}">
                <i class="fe fe-map-pin fe-16"></i>
                <span class="ml-3 item-text">site de selection</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'Site_empotage_list' %}">
                <i class="fe fe-map-pin fe-16"></i>
                <span class="ml-3 item-text">site empotage</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link"  href="{% url 'Commodite_list' %}">
                <i class="fe fe-truck fe-16"></i>
                <span class="ml-3 item-text">commodite</span>
              </a>
            </li>
            <li class="nav-item w-100">
              {% if request.user.Personnel_type == "secretaire" or request.user.Personnel_type == "chef" %}
                <a class="nav-link" href="{% url 'Personnel_list' %}">
                  <i class="fe fe-users fe-16"></i>
                  <span class="ml-3 item-text">Personnel</span>
                </a>
              {% endif %}
            </li>
            
          
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Extra</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'pod_list' %}">
                <i class="fas fa-ship right"></i>

                <span class="ml-3 item-text">POD</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link" href="{% url 'pol_list' %}">
                <i class="fas fa-ship left"></i>
                <span class="ml-3 item-text">POL</span>
              </a>
            </li>
            <li class="nav-item w-100">
              <a class="nav-link"href="{% url 'CompagnieMaritime_list' %}">
                 <i class="fas fa-building"></i>
                <span class="ml-3 item-text">Compagnie Martitime</span>
              </a>
            </li>
           
        
          </ul>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>Archive</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <li class="nav-item w-100">
                <a class="nav-link" href="{% url 'Dossier_list2' %}">
                  <i class="fe fe-folder fe-16"></i>
                  <span class="ml-3 item-folder">Archives</span>
                </a>
              </li>
            </li>
          </ul>
          <div class="btn-box w-100 mt-4 mb-1">
            <a href="{% url 'deconnexion' %}"  class="btn mb-2 btn-primary btn-lg btn-block">
              <i class="fe fe-log-out fe-12 mx-2"></i><span class="small">Deconnexion</span>
            </a>
          </div>
        </nav>
      </aside>
      <main role="main" class="main-content">
        <div class="content">
          <div class="container-fluid">
              {% include "layouts/_message.html" %}
          </div>
          {% block content %}
          {% endblock content %}
      </div>
      <footer class="footer"><br><br>
        <div class="container-fluid center">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script>
                    ibrakDev &copy; oils of africa aconage
                </div>
            </div>
        </div>
    </footer>
      </main>
       <!-- main -->
    </div> <!-- .wrapper -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script src="{% static 'js/jquery.stickOnScroll.js' %}"></script>
    <script src="{% static 'js/tinycolor-min.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/topojson.min.js' %}"></script>
    <script src="{% static 'js/datamaps.all.min.js' %}"></script>
    <script src="{% static 'js/datamaps-zoomto.js' %}"></script>
    <script src="{% static 'js/datamaps.custom.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    
    <script>
      /* defind global options */
      Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
      Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>
    <script src="{% static 'js/gauge.min.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/apexcharts.custom.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.steps.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/jquery.timepicker.js' %}"></script>
    <script src="{% static 'js/dropzone.min.js' %}"></script>
    <script src="{% static 'js/uppy.min.js' %}"></script>
    <script src="{% static 'js/quill.min.js' %}"></script>

   
    
    <script src="{% static 'js/apps.js' %}"></script>
    <!-- Flèche retour en haut -->
  <a href="#" class="back-to-top">
    <i class="fas fa-chevron-up"></i>
  </a>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Script pour afficher et cacher la flèche retour en haut -->
  <script>
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) { // Si on dépasse 100px
        $('.back-to-top').fadeIn(); // Afficher la flèche
      } else {
        $('.back-to-top').fadeOut(); // Masquer la flèche
      }
    });

    $('.back-to-top').click(function () {
      $('html, body').animate({ scrollTop: 0 }, 800); // Remonter en haut de la page
      return false;
    });
  </script>
  </body>
</html>